@CHARSET "ISO-8859-1";

body {
	background-color: rgb(209, 223, 248);
}

section>header>h3 {
	font-family: cursive;
}

.headerBanner {
	background-image: url('../Images/siteheaderimage.png');
	text-align: center;
	color: white;
	padding: 40px;
	text-shadow: 0 0 5px red;
}

nav#navTop>ul {
	list-style-type: none;
}

nav#navTop>ul>li a {
	display: inline;
	padding: 14px 16px;
	text-align: center;
}

nav#navTop>ul>li {
	display: inline;
}

.profilePic {
	border: 1px solid black;
	display: inline-block;
	float: right;
	text-align: center;
}

.articleMain {
	margin-left: 20px;
	margin-right: 20px;
	width: 70%;
	display: inline-block;
	margin-bottom: 50px;
}

.articleSection {
	overflow: auto;
	margin-top: 30px;
	border: 2px solid blue;
	border-top-right-radius: 3em;
	border-top-left-radius: 3em;
	background-color: rgb(205, 214, 206);
	padding: 40px;
	-moz-box-shadow: 0px 0px 40px blue;
	-webkit-box-shadow: 0px 0px 40px blue;
	box-shadow: 0px 0px 40px blue;
}

aside {
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

aside ul {
	list-style-image: url('../Images/bullet_blue.png');
}

.tableData {
	border-collapse: collapse;
}

.tableData th td {
	border: 1px solid black;
	padding: 10px;
}

.tableData tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tableData tr:nth-child(odd) {
	background-color: rgb(205, 174, 255);
}

.tableData tr:hover {
	background-color: rgb(169, 248, 252);
}

.tableData th {
	background-color: rgb(12, 125, 163);
}


.thumbnail {
	vertical-align: top;
	width: 150px;
	max-width: 150px;
	display: inline-block;
	margin: 5px;
	max-width: 150px;
}

.thumbnailImg {
	display: block;
	height: 100px;
	width: 100px;
}

#memImg1, #memImg2, #memImg3, #memImg4, #memImg5, #memImg6 {
	position: relative;
	opacity: 0.75
}

#memImg2 {
	left: 20px;
	z-index: 2;
}

#memImg3 {
	left: 40px;
	z-index: 2;
}

#memImg4 {
	left: 80px;
	top: -30px;
	z-index: 1;
}

#memImg5 {
	left: 40px;
	z-index: 1;
}

#memImg6 {
	top: -40px;
	z-index: 1;
}

#memImg1:hover, #memImg3:hover, #memImg5:hover, #memImg2:hover, #memImg4:hover,
	#memImg6:hover {
	opacity: 1;
	transition-delay: 0.50s;
	transition: transform 2s;
	z-index: 3;
}

#memImg1:hover, #memImg3:hover, #memImg5:hover {
	transform: scale(1.5) rotate(10deg);
}

#memImg2:hover, #memImg4:hover, #memImg6:hover {
	transform: scale(1.5) rotate(-10deg);
}

#membershipLink {
	display: block;
	text-align: right;
}

#headerLine {
	text-align: center;
}

footer {
	text-align: center;
	color: white;
}